In [1]:
from calendar import*
year = int(input('Enter Year: '))
print(calendar(year, 2, 1, 8, 4))
#2 stands for char for days 
#1 = 1 line for each week
#8 = 8 rows for each month
#4 = 4 columns for all months of the year

Enter Year: 2002
                                                  2002

      January                     February                     March                       April
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                     1  2  3                     1  2  3         1  2  3  4  5  6  7
 7  8  9 10 11 12 13         4  5  6  7  8  9 10         4  5  6  7  8  9 10         8  9 10 11 12 13 14
14 15 16 17 18 19 20        11 12 13 14 15 16 17        11 12 13 14 15 16 17        15 16 17 18 19 20 21
21 22 23 24 25 26 27        18 19 20 21 22 23 24        18 19 20 21 22 23 24        22 23 24 25 26 27 28
28 29 30 31                 25 26 27 28                 25 26 27 28 29 30 31        29 30

        May                         June                        July                       August
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
       1  2  3  4  5                        1  2         1  2  3  4  5  6  7                  1  2  3  4
 6  7  8  9 10 11 12         3  4  5  6  7  8  9         8  9 10 11 12 13 14         5  6  7  8  9 10 11
13 14 15 16 17 18 19        10 11 12 13 14 15 16        15 16 17 18 19 20 21        12 13 14 15 16 17 18
20 21 22 23 24 25 26        17 18 19 20 21 22 23        22 23 24 25 26 27 28        19 20 21 22 23 24 25
27 28 29 30 31              24 25 26 27 28 29 30        29 30 31                    26 27 28 29 30 31

     September                    October                     November                    December
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
                   1            1  2  3  4  5  6                     1  2  3                           1
 2  3  4  5  6  7  8         7  8  9 10 11 12 13         4  5  6  7  8  9 10         2  3  4  5  6  7  8
 9 10 11 12 13 14 15        14 15 16 17 18 19 20        11 12 13 14 15 16 17         9 10 11 12 13 14 15
16 17 18 19 20 21 22        21 22 23 24 25 26 27        18 19 20 21 22 23 24        16 17 18 19 20 21 22
23 24 25 26 27 28 29        28 29 30 31                 25 26 27 28 29 30           23 24 25 26 27 28 29
30                                                                                  30 31